body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.card {
  margin: 10px;
}
